<form novalidate @submit.stop.prevent="submit">
    <md-input-container v-for="key in columns">
        <label>{{ key.displayName }}</label>
        <md-input v-if="!key.component" v-model="data[key.name]" :type="key.type" ></md-input>
        <component v-if="key.component" :is="key.component" :data="data[key.name]" :java="key.elemClassName" :full-fledged="true" :options="options[key.name]" :selection="-1"></component>
    </md-input-container>

    <md-button v-if="online" class="md-raised md-primary" v-on:click.native="submit_">Submit</md-button>

    <span v-for="serviceMethod in metadata.serviceMethodContexts">
        <md-button class="md-raised md-primary" v-on:click.native="mw4Call_" :id="serviceMethod.methodName">{{serviceMethod.methodName}}</md-button>
    </span>


</form>